@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #fae364;
  --secondary-color: #bb89b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1em;
  background-color: var(--primary-color);
  text-align: center;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--primary-color);
}

main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


main p {
  margin-right: 5em;
  margin-top: 1em;
}

.menu {
  display: flex;
  justify-content: right;
  width: 50%;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1.1rem;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: ease-in, 0.3s;
}

.brand {
  margin-top: -7px;
}
.brand span {
  color: var(--secondary-color);
}

span {
  color: var(--secondary-color);
}

.signup {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px;
}

.signup:hover {
  background-color: white;
  box-shadow: none;
  transition-duration: 0.4s;
}
