@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --first-color: #fae364;
  --second-color: #cc7fcc;
  --third-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background-color: var(--first-color);
}


h1 {
  font-size: 3em;
}

h2 {
  color: var (--third-color);
}

h3 {
  font-size: 1em;
  background-color: var(--first-color);
  text-align: center;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--third-color);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--first-color);
}

main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
}


main p {
  margin-right: 5em;
  margin-top: 1em;
}

.signup {
  margin-top: 10em;
}

.menu {
  display: flex;
  justify-content: right;
  width: 50%;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1.1rem;
  color: var(--second-color);
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  transition: ease-in, 0.3s;
}

.logo {
  text-decoration: none;
}

a {
  color: inherit;
}

.brand {
  margin-top: -7px;
}
.brand span {
  color: var(--second-color);
}

span {
  color: var(--second-color);
}

main div {
  padding: 3;
}

.button-signup {
  padding: 10px 20px;
  color: var(--third-color);
  background-color: var(--second-color);
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 40px;
 
  /*box-shadow: 1px 1px 5px 1px;*/
}

.button-signup:hover {
  background-color: var(--third-color);
  box-shadow: none;
  transition-duration: 0.4s;
  color: var(--second-color);
}

form {
  text-align: center;
}

label {
  color: var(--second-color);
}

input {
  width: 20em;
  border-radius: 5px;
  border: none;
}

#message {
  height: 10em;
}

canvas {
  background-color: white;
  width: 80vw;
  height: 80vh;
  margin-top: 5px;
  border: thick;
  border-style: dashed;
  border-color: var(--second-color);
}

.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  padding: 4rem;
}

.auto-grid img {
  width: 300px;
  height: 200px;
  list-style: none;
  padding: 1em 1em;
  text-align: center;
  font-size: 1.2rem;
}

.auto-grid img:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.chosen-sketches {
/*   background-color: white; */
  width: 80vw;
  margin: auto;
  height: 20vh;
  border: thick;
  border-style: dashed;
  border-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-box {
  font-size: large;
  color: var(--second-color);
  padding: 2em;
}







































































































































































































}